@font-face {
  font-family: "SpaceMonoBold";
  src: url(fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: "SpaceMonoRegular";
  src: url(fonts/SpaceMono-Regular.ttf);
}

body {
  width: 730px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(246, 248, 255, 1);
  font-family: "SpaceMonoRegular";
  justify-content: center;
  padding: 130px 0;
}

header {
  display: flex;
  margin: auto;
  width: 730px;
  padding: 0;
  margin-bottom: 0;
  align-items: baseline;
}

.logo {
  margin-right: auto;
  font-family: "SpaceMonoBold";
  font-size: 26px;
  margin-bottom: 0;
}

.themebutton {
  font-size: 13px;
  font-family: "SpaceMonoBold";
  color: rgba(75, 106, 155, 1);
  margin-left: auto;
  letter-spacing: 2.5px;
}

.themebutton img {
  width: 20px;

}

form {
  width: 730px;
  display: flex;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin: 40px 0;
}

input {
  border: none;
  font-size: 18px;
  outline: none;
  flex: 1;
}

form img {
  width: 24px;
  margin: 0 14px;
}

form button {
  margin-left: auto;
  background-color: rgba(0, 121, 255, 1);
  width: 107px;
  height: 48px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "SpaceMonoRegular";
  font-size: 18px;
  cursor: pointer;
}

main {
  width: 730px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding: 48px;
  align-items: flex-start;
}

.Avatar {
  width: 117px;
  border-radius: 50%;
  margin-right: 32px;
}

.profile {
  width: 480px;
}

.profile_header {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-family: "SpaceMonoBold";
  color: rgba(43, 52, 66, 1);
  font-size: 26px;
  margin-top: 0;
  margin-right: 100px;
  margin-bottom: 0;
}

.Joined {
  color: rgba(75, 106, 155, 1);
  font-size: 15px;

  margin-left: auto;
  margin-top: 0;
}

.username {
  font-size: 16;
  color: rgba(0, 121, 255, 1);
  margin: 0 auto 0 0;
}

.bio {
  color: rgba(75, 106, 155, 1);
  font-size: 15px;
  margin-top: 24px;
}

.stats {
  background-color: rgba(246, 248, 255, 1);
  border-radius: 10px;
  padding: 16px 32px;
  width: 480px;
  margin: 24px 0;
}

.stats td {
  width: 139px;
}

.Property {
  font-size: 13px;
  color: rgba(75, 106, 155, 1);
}

.Value {
  font-family: "SpaceMonoBold";
  font-size: 22px;
  color: rgba(43, 52, 66, 1);
}

.links {
  width: 480px;
  line-height: 40px;
}

.links td {
  width: 232px;
  margin-bottom: 40px;
}

i {
  color: rgba(20, 29, 47, 1);
}
.fa-twitter {
  color: rgba(105, 124, 154, 1);
}

.links a {
  font-size: 15px;
  color: rgba(75, 106, 155, 1);
  text-decoration: none;
}
